@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}

#headerContainer {
    display: flex;
    color: whitesmoke;
    gap: 3em;
    margin: 3.5em;
    margin-left: 3em;
    width: 40rem;
    opacity: 0.7;
}

#headerContainer > div {
    cursor:pointer;
    font-family: Montserrat;
    font-weight: lighter;
}